<!DOCTYPE html>
<html>
<title>LLSIF-AutoTeamBuilder</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- Load static resources -->
{% load staticfiles %}
<!-- Link W3.CSS -->
<link rel='stylesheet' href="{% static 'css/w3.css' %}">
<!-- Link JQuery -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<!-- Load live basic data -->
<script type="text/javascript" src="{% static 'live_data_base.json' %}"></script>
<!-- Swiper CSS -->
<link rel='stylesheet' href="{% static 'css/swiper.min.css' %}">
<!-- Swiper JS -->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!-- Link LESS CSS -->
<link rel="stylesheet/less" type="text/css" href="{% static 'css/build_team.less' %}" />
<!-- Link LESS JS -->
<script src="{% static 'js/less.min.js' %}"></script>

<body>
    <div class='w3-container w3-black' style='padding:0'>
        <div id='infoBox' class='infoBar w3-pale-green'>
            <span onclick="this.parentElement.style.display='none'" class='exitBtn'><b>x</b></span>
            <button onclick="document.getElementById('about').style.display='block'" class='aboutBtn'>
                <b>About</b>
            </button>
            <span> </span>
        </div>
        <div class='w3-bar toolBar'>
            <!-- <div class='w3-bar w3-border w3-topbar w3-bottombar w3-border-white' style='padding:12px 0'> -->
            <!-- Group select button -->
            <button id='group' class='groupBtn w3-margin-left w3-margin-right' onclick="switchGroup()"></button>
            <!-- Attribute select radio buttons -->
            <button id='attrSmile' class='attrBtn' onclick="switchColor('Smile')"></button>
            <button id='attrPure' class='attrBtn' onclick="switchColor('Pure')"></button>
            <button id='attrCool' class='attrBtn' onclick="switchColor('Cool')"></button>
            <!-- Difficulty select dropdown -->
            <div id='difficulty' class='w3-dropdown-click w3-margin-left'>
                <button class='diffBtn'></button>
                <div class='w3-dropdown-content w3-bar-block' style='z-index:2;min-width:40px;background-color:rgba(0,0,0,0);'>
                </div>
            </div>
            <button id='scoreUp' class='imgBtn w3-margin-left' onclick="toggleScoreUp()"></button>
            <button id='skillUp' class='imgBtn' onclick="toggleSkillUp()"></button>
            <div class="w3-bar-item w3-margin-left" style='width:75px;height:40px;padding:0;'>
                <input id='perfectRate' class='w3-input w3-round-large' type='number' min='0.01' max='1' step='0.01' placeholder='无判P率' required='required' onchange="changePerfectRate()">
            </div>
            <button id='unlimitGem' class='imgBtn w3-margin-left' onclick="toggleUnlimitGem()"></button>
            <select id='extraCond' class='w3-bar-item w3-select w3-margin-left' style='height:40px;padding:0' onchange="changeExtraCondition()">
            </select>
            </select>
            <button class='w3-bar-item w3-pink w3-hover-yellow roundBtn w3-margin-left' onclick="openUserJSON()"><b>用户JSON</b></button>
            <button id='calculate' class='w3-bar-item w3-pink w3-hover-yellow roundBtn w3-right w3-mobile' onclick="calculate()"><b>Calculate</b></button>
        </div>
        <div id='liveSel' class='infoBar w3-black' style='height:auto'>
            <span> <b> </b> </span>
        </div>
        <!-- Swiper -->
        <div id='liveSwiper' class='swiper-container w3-black'>
            <div class='swiper-wrapper'>
                <div class='swiper-slide'><b>Init</b></div>
            </div>
        </div>
    </div>
    <div id='result'>
    </div>
    <div id='userJSON' class='w3-modal'>
        <div class='w3-modal-content' style='height:100%'>
            <div class='w3-container w3-black w3-padding-24' style='height:100%;overflow: scroll;'>
                <span onclick="inputUserJSON()" class='exitBtn'><b>x</b></span>
                <span id='profile-title' style='width:120px'><b>用户卡组JSON:</b></span>
                <a href='/edit_profile'>
                    <button class='roundBtn w3-pink w3-hover-yellow w3-margin-left'>手动编辑</button>
                </a>
                <textarea class='w3-round-large profile w3-input w3-margin-top' required='required'></textarea>
                <div class='output'>
                    <b>LL Helper 队伍信息sd文件</b>
                    <textarea class='w3-round-large LLH w3-input' readonly></textarea>
                </div>
                <div class='output'>
                    <b>SIFStats 队伍Json文件</b>
                    <textarea class='w3-round-large ieb w3-input' readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    <div id='liveStats' class='w3-modal' style='background-color: rgba(0,0,0,0);'>
        <div class='w3-modal-content'>
            <div class='w3-container w3-padding-24 w3-border w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-blue'>
            </div>
        </div>
    </div>
    <div id='about' class='w3-modal'>
        <div class='w3-modal-content'>
            <div class='w3-container w3-padding-24'>
                <p style='text-align:left'>
                    <span onclick="document.getElementById('about').style.display='none'" class='exitBtn'><b>x</b></span>
                    <img src='//pic.xiami.net/images/avatar_new/49/2486368_1419132611.jpeg@1e_1c_0i_1o_100Q_200w.jpg' height=60 style='display:inline;vertical-align: middle;'> Nyan~ 欢迎使用新版UI网页LLSIF-AutoTeamBuilder全自动组卡器，目前已帮助大家成功组卡 {{ count }} 队
                    <br/>
                    <br/> 网页版LLSIF-AutoTeamBuilder考虑到运算量以及稳定性，使用如下参数：
                    <br/> 预设所有吻宝石为9，预备卡组大小为12，宝石有限时使用1-suboptimal DP算法，无限时使用1-suboptimal DC算法。
                    <br/> 在以上设定下
                    <span style='color:red'>并不能保证找到最优解</span>，但是期望得分大多数情况只比最优解少1000分以内。
                    <br/> 寻求更优解请移步
                    <a href='//github.com/Joshua1989/LLSIF-AutoTeamBuilder'>Github源码</a>自行尝试，算法细节请参考<a href='../doc'>Love Live SIF 卡组强度导论</a>。
                    <br/>
                    <br/> 使用方法:<a href='../tutorial/cn'>详细教程</a>
                    <ol>
                        <li>选择歌曲（点击封面上方歌名，点击封面为查看谱面详细信息），以及选择附加条件</li>
                        <li>从<a href='//stats.llsif.win/'>SIFStats(日服)</a>， <a href='http://pll.sokka.cn/user'>LLproxy(国服)</a> 粘贴社员信息卡组JSON。
                            <br/> 目前已支持本地存储，关闭网页下一次访问时可以直接载入之前输入的卡组。
                            <br/> 没有连接数据站的用户可以使用<span style='color:red'><b>手动编辑</b></span>功能来输入卡组信息，编辑完成后<span style='color:red'><b>建议本地保存</b></span>用户JSON以免丢失。
                        </li>
                        <li>点击calulate按钮计算最优卡组</li>
                    </ol>
                    <br/> 如果发现疑似bug请到
                    <a href='//tieba.baidu.com/p/5225376536?pid=109423217170&cid=0#109423217170'>贴吧发布帖</a>进行反馈，说明具体问题并注明组卡时的<span style='color:red'>所有设置</span>。
                    <br/>
                    <br/> Remark 1: 在极端情况下（各种宝石都很少）计算可能会比较慢，请耐心等待。
                    <br/> Remark 2: 由于美服并没有类似数据站，Github代码提供了虽然从tshark抓包导入用户卡组的功能，但是由于抓包中<span style='color:red'>含有账户信息</span>所以考虑到安全问题网页版暂不支持该格式。
                </p>
            </div>
        </div>
    </div>
    <script>
    // utility for string format
    String.prototype.format = function() {
        a = this;
        for (k in arguments) {
            a = a.replace('{' + k + '}', arguments[k]);
        }
        return a;
    }
    // utility for check whether a string is a valid JSON
    function IsJsonString(str) {
        try {
            JSON.parse(str);
        } catch (e) {
            return false;
        }
        return true;
    }

    window.ondragstart = function() { return false; }

    // Load all live basic information
    var live_info = JSON.parse(live_info_data);
    var img_url = {
        muse: '//r.llsif.win/assets/image/event/mission/ms_m_type_10.png',
        Aqours: '//r.llsif.win/assets/image/event/mission/ms_m_type_11.png',
        Smile: '//db.loveliv.es/static/img/icon/1.png',
        Pure: '//db.loveliv.es/static/img/icon/2.png',
        Cool: '//db.loveliv.es/static/img/icon/3.png',
        Easy: '//r.llsif.win/assets/image/ui/event/e_button_12.png',
        Normal: '//r.llsif.win/assets/image/ui/event/e_button_13.png',
        Hard: '//r.llsif.win/assets/image/ui/event/e_button_14.png',
        Expert: '//r.llsif.win/assets/image/ui/event/e_button_15.png',
        Master: '//r.llsif.win/assets/image/ui/event/e_button_17.png',
        ScoreUp: '//r.llsif.win/assets/image/ui/event/e_button_32.png',
        SkillUp: '//r.llsif.win/assets/image/ui/event/e_button_33.png',
        UnlimitGem: '//r.llsif.win/assets/image/ui/profile/p_icon_01.png',
    };
    var default_cover_url = {
        muse: {
            Smile: '//r.llsif.win/assets/image/ui/live/l_etc_36.png',
            Pure: '//r.llsif.win/assets/image/ui/live/l_etc_37.png',
            Cool: '//r.llsif.win/assets/image/ui/live/l_etc_38.png',
        },
        Aqours: {
            Smile: '//r.llsif.win/assets/image/ui/live/l_etc_130.png',
            Pure: '//r.llsif.win/assets/image/ui/live/l_etc_131.png',
            Cool: '//r.llsif.win/assets/image/ui/live/l_etc_132.png',
        }
    }
    var group_arr = {
        muse: 'μ\'s',
        Aqours: 'Aqours'
    };
    var attribute_arr = ['Smile', 'Pure', 'Cool'];
    var attribute_color = {
        Smile: 'red',
        Pure: 'green',
        Cool: 'blue'
    }
    var attribute_color2 = {
        Smile: '\#f44336',
        Pure: '\#4CAF50',
        Cool: '\#2196F3'
    }
    var difficulty_arr = ['Easy', 'Normal', 'Hard', 'Expert', 'Master'];
    var extra_cond_arr = ['default', 'current_max', 'idolized_max', 'ultimate'];
    var extra_cond_text = {
        default: '维持当前状态',
        current_max: '当前状态满级满绊',
        idolized_max: '贴纸觉醒满级满绊',
        ultimate: '觉醒满槽满技能'
    };

    // Initialize selections
    var group_sel = 'muse',
        attr_sel = 'Smile',
        diff_sel = 'Expert',
        score_up = false,
        skill_up = false,
        unlimit_gem = false,
        perfect_rate = 0.95,
        extra_cond = 'default';
    var user_json = localStorage.getItem("user_json");
    var song_name = '默认谱面 {0} {1}'.format(group_arr[group_sel], attr_sel);
    var live_selection = {
        group: group_sel,
        attr: attr_sel,
        diff: diff_sel,
        song_list: [song_name]
    }

    // Used for update MF selection
    function updateLiveSel(add_song) {
        var change = (live_selection['group'] != group_sel) | (live_selection['attr'] != attr_sel) | (live_selection['diff'] != diff_sel)
        if (change) {
            live_selection = {
                group: group_sel,
                attr: attr_sel,
                diff: diff_sel,
                song_list: ['默认谱面 {0} {1}'.format(group_arr[group_sel], attr_sel)]
            };
        } else if (add_song) {
            if (live_selection['song_list'].length < 5) {
                if (add_song.indexOf('默认') == -1) {
                    if (live_selection['song_list'].length == 1 && live_selection['song_list'][0].indexOf('默认') > -1) {
                        live_selection['song_list'].pop();
                    }
                    live_selection['song_list'].push(add_song)
                } else {
                    live_selection = {
                        group: group_sel,
                        attr: attr_sel,
                        diff: diff_sel,
                        song_list: [add_song]
                    };
                }
            } else {
                updateInfo('选择Live数量已达到上限 5', true);
            }
        }
        $("#liveSel span b").html('难度: {0}, 已选曲目: {1}'.format(live_selection['diff'], live_selection['song_list'].join(', ')));
        $("#liveSel span b").css('color', attribute_color2[live_selection['attr']]);
    }
    updateLiveSel();

    // Initialized display
    $('#group').html("<img src='{0}' alt='{1}'>".format(img_url[group_sel], group_arr[group_sel]));
    for (x in attribute_arr) {
        attr = attribute_arr[x];
        $('#attr' + attr).html("<img src='{0}' alt='{1}'>".format(img_url[attr], group_arr[attr]));
        $('#attr' + attr + ' img').addClass('w3-grayscale-max');
    }
    $('#attr' + attr_sel + ' img').removeClass('w3-grayscale-max');
    var temp = '';
    for (x in difficulty_arr) {
        diff = difficulty_arr[x];
        temp += "<button class='w3-bar-item diffItem' onclick=\"switchDifficulty('{0}')\" style='height:40px;padding:0;'><img src='{1}'></button>".format(diff, img_url[diff]);
    }
    $('#difficulty div').html(temp);
    $('#difficulty>button').html("<img src='{0}' height=100%>".format(img_url[diff_sel]));
    $('#scoreUp').html("<img src='{0}' height=100%>".format(img_url['ScoreUp']));
    $('#scoreUp img').addClass('w3-grayscale-max');
    $('#skillUp').html("<img src='{0}' height=100%>".format(img_url['SkillUp']));
    $('#skillUp img').addClass('w3-grayscale-max');
    $('#unlimitGem').html("<img src='{0}' height=100%>".format(img_url['UnlimitGem']));
    $('#unlimitGem img').addClass('w3-grayscale-max');
    $('#perfectRate').val(perfect_rate);
    temp = '';
    for (x in extra_cond_arr) {
        ec = extra_cond_arr[x]
        temp += "<option value='{0}'>{1}</option>".format(ec, extra_cond_text[ec]);
    }
    $('#extraCond').html(temp);
    $('#userJSON .profile').val(user_json)

    // Initialize Swiper
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflow: {
            rotate: 30,
            stretch: 0,
            depth: 350,
            modifier: 1,
            slideShadows: false
        },
        loop: false,
        mousewheelControl: true,
        freeMode: true,
        freeModeSticky: true
    });
    // Fill live pond into swiper
    function updateLiveSwiper() {
        swiper.removeAllSlides()
        var default_name = '默认谱面 {0} {1}'.format(group_arr[group_sel], attr_sel);
        var color_str = attribute_color[attr_sel];
        swiper.appendSlide("<div class='swiper-slide w3-{0} w3-border-{5} w3-hover-border-yellow'><div class='topBar w3-hover-{6} w3-{0}' onclick=\"chooseLive('{3}','{4}')\"><b class='titleText'>{1}</b></div><img src='{2}'></div>\n".format(color_str, default_name, default_cover_url[group_sel][attr_sel], default_name.replace("'", "\\\'"), diff_sel, color_str, color_str));
        for (x in live_info) {
            live = live_info[x];
            if (live['group'] == group_arr[group_sel] && live['attr'] == attr_sel && live['diff_level'] == diff_sel) {
                swiper.appendSlide("<div class='swiper-slide w3-{0} w3-border-{5} w3-hover-border-yellow'><div class='topBar w3-hover-{6} w3-{0}' onclick=\"chooseLive('{3}','{4}')\"><b class='titleText'>{1}</b></div><img src='{2}'></div>\n".format(color_str, live['name'], live['cover'], live['name'], diff_sel, color_str, color_str));
            }
        }
        // Timeout count for onHold event to view live stats
        $('.swiper-slide img').on('click', function(e) {
            viewLiveStats(e);
        });
    }
    updateLiveSwiper()

    function viewLiveStats(e) {
        sn = e.target.parentNode.childNodes[0].getElementsByTagName("b")[0].innerHTML;
        if (sn.indexOf('默认') != -1) {
            return
        } else {
            POST_JSON = {
                lang: 'CN',
                song_name: sn,
                difficulty: diff_sel,
                perfect_rate: perfect_rate,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            $.ajax({
                type: "POST",
                url: "live_stats",
                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                data: POST_JSON,
                success: function(data) {
                    updateInfo(data['msg'], !data['complete']);
                    $('#result').html(data['result']);
                    $('#liveStats').show();
                    $('body').addClass('modal-open');
                    temp = '<span onclick="closeLiveStats()" class="exitBtn"><b>x</b></span>'
                    temp += data['live_stats'];
                    $('#liveStats .w3-container').html(temp)
                }
            });
        }
    }

    function closeLiveStats() {
        $('#liveStats').hide();
        $('body').removeClass('modal-open')
    }

    // Make a clickable dropdown for difficulty
    $(document).ready(function() {
        $('#difficulty').click(function() {
            $('#difficulty div').show();
        });
        $('#difficulty div').click(function(e) {
            e.stopPropagation();
        });
        $('#difficulty div').mouseleave(function() {
            $('#difficulty div').hide();
        });
    });

    // Update info bar
    function updateInfo(msg, is_error) {
        $("#infoBox").removeClass('w3-pale-green');
        $("#infoBox").removeClass('w3-pale-red');
        if (is_error) {
            $("#infoBox").addClass('w3-pale-red');
        } else {
            $("#infoBox").addClass('w3-pale-green');

        }
        prefix = is_error ? 'ERROR - ' : 'INFO - '
        $("#infoBox span:last").html(prefix + msg);
    }

    // Toggle Muse and Aquors
    function switchGroup() {
        group_sel = group_sel == 'Aqours' ? 'muse' : 'Aqours';
        $('#group').html("<img src='{0}' alt='{1}'>".format(img_url[group_sel], group_arr[group_sel]));
        updateLiveSwiper();
        updateInfo('选择团体为 {0}'.format(group_arr[group_sel]), false);
        updateLiveSel();
    }

    // Choose attribute of live
    function switchColor(attr) {
        for (x in attribute_arr) {
            $('#attr' + attribute_arr[x] + ' img').addClass('w3-grayscale-max');
        }
        $('#attr' + attr + ' img').removeClass('w3-grayscale-max');
        attr_sel = attr;
        updateLiveSwiper();
        updateInfo('选择属性为 {0}'.format(attr_sel), false);
        updateLiveSel();
    }

    // Choose difficulty of live
    function switchDifficulty(diff) {
        $('#difficulty div').hide();
        diff_sel = diff;
        updateLiveSwiper();
        updateInfo('选择难度为 {0}'.format(diff_sel), false);
        $('#difficulty>button').html("<img src='{0}'>".format(img_url[diff_sel]));
        updateLiveSel();
    }

    // Choose live
    function chooseLive(name, diff) {
        song_name = name;
        updateInfo('选择谱面为 {0} {1}'.format(name, diff), false);
        updateLiveSel(song_name);
    }

    // Toggle score up, skill up and unlimited gem
    function toggleScoreUp() {
        score_up = !score_up;
        if (score_up) {
            $('#scoreUp img').removeClass('w3-grayscale-max');
        } else {
            $('#scoreUp img').addClass('w3-grayscale-max');
        }
        updateInfo('{0} 打击得分+10%'.format(score_up ? '启用' : '取消'), false);
    }

    function toggleSkillUp() {
        skill_up = !skill_up;
        if (skill_up) {
            $('#skillUp img').removeClass('w3-grayscale-max');
        } else {
            $('#skillUp img').addClass('w3-grayscale-max');
        }
        updateInfo('{0} 技能触发+10%'.format(skill_up ? '启用' : '取消'), false);
    }

    function toggleUnlimitGem() {
        unlimit_gem = !unlimit_gem;
        if (unlimit_gem) {
            $('#unlimitGem img').removeClass('w3-grayscale-max');
        } else {
            $('#unlimitGem img').addClass('w3-grayscale-max');
        }
        updateInfo('{0} 宝石无限'.format(unlimit_gem ? '启用' : '取消'), false);
    }

    // Change perfect rate and extra condition
    function changePerfectRate() {
        temp = parseFloat($('#perfectRate').val());
        if (!isNaN(temp) && temp >= 0.01 && temp <= 1) {
            perfect_rate = temp;
            updateInfo('更改无判P率为 {0}%'.format(parseInt(perfect_rate * 100)), false);
        } else {
            $('#perfectRate').val(perfect_rate);
            updateInfo('无判P率为输入错误，还原为{0}%'.format(parseInt(perfect_rate * 100)), true);
        }

    }

    function changeExtraCondition() {
        extra_cond = $('#extraCond').val();
        updateInfo('设置附加条件为 {0}'.format(extra_cond_text[extra_cond]), false);
    }

    // Check whether input user JSON is valid
    function openUserJSON() {
        $('#userJSON').show();
        $('body').addClass('modal-open')
    }

    function inputUserJSON() {
        $('#userJSON').hide();
        $('body').removeClass('modal-open')
        temp = $('#userJSON .profile').val();
        if (temp == '' || IsJsonString(temp)) {
            if (user_json != temp) {
                user_json_obj = JSON.parse(temp);
                if (user_json_obj['unit_info'] == undefined |
                    user_json_obj['deck_info'] == undefined |
                    user_json_obj['removable_info'] == undefined |
                    user_json_obj['removable_info']['equipment_info'] == undefined |
                    user_json_obj['removable_info']['owning_info'] == undefined) {
                    $('#userJSON .profile').val(user_json);
                    updateInfo('用户卡组JSON格式有误，回滚至上次合法JSON', true);
                    return
                }
                user_json_obj['removable_info']['equipment_info'] = {};
                user_json_obj['deck_info'] = [];
                user_json = JSON.stringify(user_json_obj);

                localStorage.setItem('user_json', user_json);
                $('#userJSON .profile').val(user_json);
                updateInfo('用户卡组JSON已成功更新', false);
            }
        } else {
            $('#userJSON .profile').val(user_json);
            updateInfo('输入文本不是JSON格式，回滚至上次合法JSON', true);
        }
    }

    // calculate best team
    function calculate() {
        if (user_json == '') {
            updateInfo('用户卡组JSON为空', true);
            return
        }
        user_json_obj = JSON.parse(user_json)
        if (user_json_obj['unit_info'] == undefined |
            user_json_obj['deck_info'] == undefined |
            user_json_obj['removable_info'] == undefined |
            user_json_obj['removable_info']['equipment_info'] == undefined |
            user_json_obj['removable_info']['owning_info'] == undefined) {
            updateInfo('用户卡组JSON格式有误', true);
            return
        }
        if (user_json_obj['unit_info'].length < 13) {
            updateInfo('组卡至少要有13张卡，您目前有{0}张，请继续添加卡组'.format(user_json_obj['unit_info'].length), true);
            return
        }
        $('#calculate').prop('disabled', true);
        POST_JSON = {
            lang: 'CN',
            song_list: JSON.stringify(live_selection['song_list']),
            group: live_selection['group'],
            attribute: live_selection['attr'],
            difficulty: live_selection['diff'],
            score_up: score_up,
            skill_up: skill_up,
            perfect_rate: perfect_rate,
            unlimit_gem: unlimit_gem,
            extra_cond: extra_cond,
            user_profile: user_json,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        $.ajax({
            type: "POST",
            url: "calculate",
            headers: {
                'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            data: POST_JSON,
            success: function(data) {
                updateInfo(data['msg'], !data['complete']);
                $('#result').html(data['result']);
                $('#userJSON .LLH').val(data['sd_file']);
                $('#userJSON .ieb').val(data['ieb_file']);
                $('#calculate').prop('disabled', false);
            }
        });
    }
    </script>
</body>

</html>