<!DOCTYPE html>
<html>
<title>LLSIF-AutoTeamBuilder EN</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- Load static resources -->
{% load staticfiles %}
<!-- Link W3.CSS -->
<link rel='stylesheet' href="{% static 'css/w3.css' %}">
<!-- Link JQuery -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<!-- Load live basic data and SM song list -->
<script type="text/javascript" src="{% static 'live_data_base.json' %}"></script>
<script type="text/javascript" src="{% static 'sm_song_list.json' %}"></script>
<!-- Swiper CSS -->
<link rel='stylesheet' href="{% static 'css/swiper.min.css' %}">
<!-- Swiper JS -->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!-- Link LESS CSS -->
<link rel="stylesheet/less" type="text/css" href="{% static 'css/build_team.less' %}" />
<!-- Link LESS JS -->
<script src="{% static 'js/less.min.js' %}"></script>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
    lang = 'EN';
    TS_page = false;
    AS_page = false;
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-103167041-2', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body>
    <div class='w3-container w3-black' style='padding:0'>
        <div id='infoBox' class='infoBar w3-pale-green'>
            <a href="/" style='float:left'><i class='material-icons'>home</i></a>
            <span onclick="this.parentElement.style.display='none'" class='exitBtn'><b>x</b></span>
            <button onclick="document.getElementById('about').style.display='block'" class='aboutBtn'>
                <b>About</b>
            </button>
            <span> </span>
        </div>
        <div class='w3-bar toolBar'>
            <!-- <div class='w3-bar w3-border w3-topbar w3-bottombar w3-border-white' style='padding:12px 0'> -->
            <!-- Group select button -->
            <button id='group' class='groupBtn w3-margin-left w3-margin-right' onclick="switchGroup()"></button>
            <!-- Attribute select radio buttons -->
            <button id='attrSmile' class='attrBtn' onclick="switchColor('Smile')"></button>
            <button id='attrPure' class='attrBtn' onclick="switchColor('Pure')"></button>
            <button id='attrCool' class='attrBtn' onclick="switchColor('Cool')"></button>
            <!-- Difficulty select dropdown -->
            <div id='difficulty' class='w3-dropdown-click w3-margin-left'>
                <button class='diffBtn'></button>
                <div class='w3-dropdown-content w3-bar-block' style='z-index:2;min-width:40px;background-color:rgba(0,0,0,0);'>
                </div>
            </div>
            <div class="w3-bar-item w3-margin-left" style='width:55px;height:40px;padding:0;margin-right:5px;'>
                <input id='scoreup' class='w3-input w3-round-large boostInput' type='number' inputmode="numeric" pattern="[0-9]*" min='0' max='40' step='1' required='required' onchange="changeScoreUp()">
            </div>
            <div class="w3-bar-item" style='width:55px;height:40px;padding:0;'>
                <input id='skillup' class='w3-input w3-round-large boostInput' type='number' inputmode="numeric" pattern="[0-9]*" min='0' max='40' step='1' required='required' onchange="changeSkillUp()">
            </div>
            <div class="w3-bar-item w3-margin-left" style='width:75px;height:40px;padding:0;'>
                <input id='perfectRate' class='w3-input w3-round-large' type='number' inputmode="numeric" pattern="[0-9]*" min='0.01' max='1' step='0.01' placeholder='无判P率' required='required' onchange="changePerfectRate()">
            </div>
            <button id='unlimitGem' class='imgBtn w3-margin-left w3-margin-right' onclick="toggleUnlimitGem()"></button>
            <select id='extraCond' class='w3-bar-item w3-select w3-margin-left' style='height:40px;padding:0' onchange="changeExtraCondition()">
            </select>
            <button class='w3-bar-item w3-pink w3-hover-yellow roundBtn w3-margin-left' style='padding:0 0' onclick="openUserJSON()"><b>User JSON</b></button>
            <button id='pin' class='imgBtn w3-margin-left w3-margin-right' onclick="togglePin()"></button>
            <select id='guestCenter' class='w3-bar-item w3-select w3-mobile' style='height:40px;padding:0' onchange="changeGuestCenter()">
            </select>
            <button id='calculate' class='w3-bar-item w3-green w3-hover-yellow roundBtn w3-margin-left w3-right w3-mobile' onclick="calculate()"><b>Calculate</b></button>
        </div>
        <div id='pinCard' class='w3-bar'>
            <button id='pin-choose' class='w3-pink w3-hover-yellow roundBtn w3-mobile'><b>Choose Pinned Cards</b></button>
            <div class='icon-list'>
                <div class='container'>
                </div>
            </div>
        </div>
        <div id='liveSel' class='infoBar w3-black' style='height:auto'>
            <span> <b> </b> </span>
        </div>
        <!-- Swiper -->
        <div id='liveSwiper' class='swiper-container w3-black'>
            <div class='swiper-wrapper'>
                <div class='swiper-slide'><b>Init</b></div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
    <div id="simulation" class='w3-display-container'>
        <span class='exitBtn' style='z-index:1'><b>x</b></span>
        <div id="cover_rate">
        </div>
        <div id="simul_hist">
        </div>
        <div id="simul_result">
        </div>
    </div>
    <div id='result'>
    </div>
    <div id='userJSON' class='w3-modal'>
        <div class='w3-modal-content' style='height:100%'>
            <div class='w3-container w3-black w3-padding-24' style='height:100%;overflow: scroll;'>
                <span class='exitBtn'><b>x</b></span>
                <span id='profile-title'><b>User Profile JSON:</b></span>
                <a href='/edit_profile/en/' style="text-decoration:none">
                    <button class='roundBtn w3-pink w3-hover-yellow w3-margin-left'><b>Manual</b></button>
                </a>
                <button id='importSIT' class='roundBtn w3-pink w3-hover-yellow w3-margin-left'><b>Import SIT</b></button>
                <textarea class='w3-round-large profile w3-input w3-margin-top' required='required'></textarea>
                <div class='output'>
                    <b>LL Helper Team sd file</b>
                    <textarea class='w3-round-large LLH w3-input' readonly></textarea>
                </div>
                <div class='output'>
                    <b>SIFStats Team JSON</b>
                    <textarea class='w3-round-large ieb w3-input' readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    <div id='liveStats' class='w3-modal'>
        <div class='w3-modal-content'>
            <div class='w3-bar'>
                <button id='addCurrentSong' class='w3-bar-item w3-pink w3-hover-yellow roundBtn w3-mobile' style="max-width:50%;"><b>Add Song</b></button>
                <span onclick="closeLiveStats()" class="exitBtn"><b>x</b></span>
            </div>
            <div class='w3-container w3-padding-24 w3-border w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-blue'>
            </div>
        </div>
    </div>
    <div id='modalSIT' class='w3-modal'>
        <div class='w3-modal-content'>
            <div class='w3-container w3-black w3-padding-24 w3-border w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-blue'>
                <span class='exitBtn'><b>x</b></span>
                <p class='w3-mobile'><b>SIT User Name</b></p>
                <div class='w3-bar'>
                    <input class='w3-input w3-round-large'>
                </div>
                <p class='w3-mobile'><b>Select Account</b></p>
                <div class='w3-bar w3-margin-buttom'>
                    <select class='w3-select'>
                    </select>
                </div>
                <div class='w3-display-container' style='margin-top:40px'>
                    <button class='roundBtn w3-pink w3-hover-yellow w3-display-middle w3-mobile' style='width:20%'><b>Import</b></button>
                </div>
            </div>
        </div>
    </div>
    <div id='modalLocal' class='w3-modal'>
        <div class='w3-modal-content'>
            <div class='w3-container w3-black w3-padding-24 w3-border w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-blue'>
                <span class='exitBtn'><b>x</b></span>
                <p class='w3-mobile'><b>Select Local Account</b></p>
                <div class='w3-bar w3-margin-buttom'>
                    <select class='w3-select'>
                    </select>
                </div>
                <div class='w3-display-container' style='margin-top:40px'>
                    <button class='import roundBtn w3-pink w3-hover-yellow w3-left' style='padding:0;min-width:70px;'><b>Import</b></button>
                    <button class='save roundBtn w3-pink w3-hover-yellow w3-margin-left' style='min-width:70px;'><b>Save</b></button>
                    <button class='create roundBtn w3-pink w3-hover-yellow w3-right' style='min-width:70px;'><b>Create</b></button>
                </div>
            </div>
        </div>
    </div>
    <div id='modalPin' class='w3-modal'>
        <div class='w3-modal-content'>
            <div class='w3-container w3-black w3-padding-24 w3-border w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-blue'>
                <span class='exitBtn'><b>x</b></span>
                <button id='pin-heal' class='imgBtn w3-margin-right'><img src='//card.niconi.co.ni/static/images/skilllifeup.png'></button>
                <button id='pin-plock' class='imgBtn w3-margin-right'><img src='//card.niconi.co.ni/static/images/skilldai.png'></button>
                <button id='pin-all' class='roundBtn w3-pink w3-hover-yellow w3-margin-right'><b>All</b></button>
                <button id='pin-clear' class='roundBtn w3-pink w3-hover-yellow w3-margin-right'><b>Clear</b></button>
                <div class='w3-display-container' style='margin-top:40px'>
                </div>
            </div>
        </div>
    </div>
    <div id='about' class='w3-modal'>
        <div class='w3-modal-content'>
            <div class='w3-container w3-padding-24'>
                <p style='text-align:left'>
                    <span onclick="document.getElementById('about').style.display='none'" class='exitBtn'><b>x</b></span>
                    <img src='//pic.xiami.net/images/avatar_new/49/2486368_1419132611.jpeg@1e_1c_0i_1o_100Q_200w.jpg' height=60 style='display:inline;vertical-align: middle;'> Nyan~ Welcome to the web LLSIF-AutoTeamBuilder, now it has formed {{ count }} teams for SIF players.
                    <br/>
                    <br/> For efficiency and stability, Web LLSIF-AutoTeamBuilder uses the following parameters:
                    <br/> Set all kiss gems to 9, the candidate card pond has size 12, 1-suboptimal algorithm is applied.
                    <br/> Under above assumption
                    <span style='color:red'>optimal solution is not GUARANTEED</span>，but by experience most of the case the expected total score is within 1000 points to the optimal one.
                    <br/> You can run a more accurate algorithm locally by using
                    <a href='//github.com/Joshua1989/LLSIF-AutoTeamBuilder'><b>Github source</b></a>，more detail for the algorithm please refer to <a href='../../doc/en/'><b>Cookbook of Team Building</b></a>.
                    <br/>
                    <br/> User Guide: <a href='../../tutorial/en/'><b>detailed tutorial here</b></a>
                    <ol>
                        <li>Choose song (Click on song name to add to live list, click cover to look at live details), and extra conditions</li>
                        <li> If you are using a third-party proxy <a href='//stats.llsif.win/' style='color:blue'><b>SIFStats (JP)</b></a>, <a href='http://pll.sokka.cn/user' style='color:blue'><b>LLproxy (CN)</b></a>, then you can directly copy the user profile JSON to input your card list.
                            <br/> If you have used <a href="https://designedfor.sakura.ne.jp/nikuma-n/" style='color:blue'><b>minaraishi's team builder</b></a>, you can copy the exported file here.
                            <br/> If you have a <a href="http://schoolido.lu/" style='color:blue'><b>School Idol Tomodachi</b></a> account, you can also import your user profile here.
                            <br/> If you are in EN server or not linked to any proxy stats site, you can edit your profile <span style='color:red'><b>manually</b></span>, once you are done I highly recommend you to <span style='color:red'><b>save the JSON locally</b></span> in case of lost.
                            <br/> The input user JSON is stored in local storage, so next time you open this page you do not need to copy your JSON again.
                        </li>
                        <li>Click calculate button to solve for optimal team and gem allocation.</li>
                    </ol>
                    To check the best SIS allocation and team strength details for user custom teams, check <a href='../../team_strength/'><b style='color:red'>team strength page</b></a>.
                    <br/> If you found a bug, please <a href="https://www.reddit.com/user/Hentyclopedia/"><b>report it to me</b></a>, please describe the situation with <span style='color:red'>ALL SETTINGS</span>.
                    <br/>
                </p>
            </div>
        </div>
    </div>
    <!-- Link all control functions -->
    <script src="{% static 'js/build_team_util.js' %}"></script>
    <script src="{% static 'js/build_team_calculate.js' %}"></script>
    <script src="{% static 'js/manage_local_profile.js' %}"></script>
    <!-- Link High Charts -->
    <script src="{% static 'js/highstock.js' %}"></script>
    <!-- Link SImulation -->
    <script src="{% static 'js/simulation.js' %}"></script>
</body>

</html>