<!DOCTYPE html>
<html>
<title>LLATB-EditProfile</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- Load static resources -->
{% load staticfiles %}
<!-- Link W3.CSS -->
<link rel='stylesheet' href="{% static 'css/w3.css' %}">
<!-- Link JQuery -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<!-- Load live basic data -->
<script type="text/javascript" src="{% static 'card_data_base.json' %}"></script>
<!-- Load unit id to unit number dict -->
<script type="text/javascript" src="{% static 'uid_cid_dict.json' %}"></script>
<!-- Link LESS CSS -->
<link rel="stylesheet/less" type="text/css" href="{% static 'css/edit_profile.less' %}" />
<!-- Link LESS JS -->
<script src="{% static 'js/less.min.js' %}"></script>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
    lang = 'EN';
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-103167041-2', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body class='w3-black'>
    <div class='w3-container w3-black' style='padding:0'>
        <div id='infoBox' class='infoBar w3-pale-green'>
            <a href="/" style='float:left'><i class='material-icons'>home</i></a>
            <span class='exitBtn'><b>x</b></span>
            <span> </span>
        </div>
        <div class='w3-bar toolBar'>
            <!-- Group select button -->
            <button id='member' class='memberBtn w3-margin-left w3-margin-right'></button>
            <!-- Attribute select radio buttons -->
            <button id='attrSmile' class='attrBtn'></button>
            <button id='attrPure' class='attrBtn'></button>
            <button id='attrCool' class='attrBtn'></button>
            <button id='idolized' class='idolBtn w3-margin-left'></button>
            <button id='editGem' class='w3-pink w3-hover-yellow roundBtn w3-margin-left'><b>Edit SIS</b></button>
            <button id='saveProfile' class='w3-pink w3-hover-yellow roundBtn w3-margin-left'><b>Save</b></button>
            <a href='/build_team/en/'>
                <button class='roundBtn w3-green w3-hover-yellow w3-right w3-margin-right'><b>Build</b></button>
            </a>
        </div>
    </div>
    <div class='w3-container w3-black'>
        <div style='padding:15px 0'>
            <b>All possible cards satisfy current filter (Card Number):</b>
        </div>
        <div id='pond' class='w3-container w3-black'>
        </div>
    </div>
    <div class='w3-container w3-black'>
        <div style='padding:15px 0'>
            <b>All cards satisfy current filter that you own (Slots/Skill Lv/Lv/Bond): </b>
        </div>
        <div id='owned' class='w3-container w3-black'>
        </div>
    </div>
    <div id='chooseMember' class='w3-modal'>
        <div class='w3-modal-content'>
            <span class='exitBtn'><b>x</b></span>
            <div class="w3-bar w3-black">
                <button id='chooseMuse' class="w3-bar-item tab"></button>
                <button id='chooseAqours' class="w3-bar-item tab"></button>
            </div>
            <div class='w3-container w3-black w3-padding-24'>
            </div>
        </div>
    </div>
    <div id='editCard' class='w3-modal'>
        <div class='w3-modal-content'>
            <span id='deleteCard'><b>Remove</b></span>
            <div class='w3-container w3-black w3-padding-24'>
                <b id='editTitle'></b>
                <div class='w3-bar w3-black' style='margin-top:25px'>
                    <div class='w3-bar-item'><b>Lv</b></div>
                    <input id='editLevel' class='w3-bar-item w3-input w3-round-large lang-en' type='number' min='1' step='1' value='1' required='required'>
                    <div class='w3-bar-item'><b>Bond</b></div>
                    <input id='editBond' class='w3-bar-item w3-input w3-round-large lang-en' type='number' min='0' step='1' value='1' required='required'>
                </div>
                <div class='w3-container w3-black'>
                    <div style='padding:15px 0'>
                        <b>Slot Number:</b>
                    </div>
                    <div id='editSlotNum'>
                    </div>
                </div>
                <div class='w3-container w3-black'>
                    <div style='padding:15px 0'>
                        <b>Skill Level:</b>
                    </div>
                    <div id='editSkillLevel'>
                    </div>
                </div>
                <div class='w3-bar w3-black' style='margin-top:25px'>
                    <button id='editIdolization' class='w3-bar-item roundBtn w3-hover-yellow w3-green w3-margin-left'>Unidolized</button>
                    <button id='editCancel' class='w3-bar-item w3-pink w3-hover-yellow roundBtn w3-right'><b>Cancel</b></button>
                    <button id='editOK' class='w3-bar-item w3-pink w3-hover-yellow roundBtn w3-right'><b>OK</b></button>
                </div>
                <div class='w3-container w3-black'>
                </div>
            </div>
        </div>
    </div>
    <div id='editGemModal' class='w3-modal'>
        <div class='w3-modal-content'>
            <div class="w3-bar">
                <button id='smileGem' class="w3-bar-item tab w3-red w3-hover-orange"><b>Smile</b></button>
                <button id='pureGem' class="w3-bar-item tab w3-green w3-hover-light-green"><b>Pure</b></button>
                <button id='coolGem' class="w3-bar-item tab w3-blue w3-hover-light-blue"><b>Cool</b></button>
                <button id='exitEditGem' class="w3-bar-item w3-purple w3-hover-yellow"><b>x</b></button>
            </div>
            <div class='w3-container w3-padding-8'>
            </div>
        </div>
    </div>
    <!-- Link all control functions -->
    <script src="{% static 'js/edit_profile_util.js' %}"></script>
</body>

</html>