<!DOCTYPE html>
<html>
<title>LLSIF-AutoTeamBuilder</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- Link W3.CSS -->
<link rel='stylesheet' href='//www.w3schools.com/w3css/4/w3.css'>
<!-- Link JQuery -->
<script src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
{% load staticfiles %}
<!-- Cookie handlers -->
<script src="{% static 'js/cookies.min.js' %}"></script>
<!-- Load live basic data -->
<script type="text/javascript" src="{% static 'card_data_base.json' %}"></script>
<!-- Link LESS CSS -->
<link rel="stylesheet/less" type="text/css" href="{% static 'css/edit_profile.less' %}" />
<!-- Link LESS JS -->
<script src="//cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>

<body>
    <div class='w3-container w3-black' style='padding:0'>
        <div id='infoBox' class='infoBar w3-pale-green'>
            <span class='exitBtn'><v>x</b></span>
            <span> </span>
        </div>
        <div class='w3-bar toolBar'>
            <!-- Group select button -->
            <button id='member' class='memberBtn w3-margin-left w3-margin-right'></button>
            <!-- Attribute select radio buttons -->
            <button id='attrSmile' class='attrBtn'></button>
            <button id='attrPure' class='attrBtn'></button>
            <button id='attrCool' class='attrBtn'></button>
            <button id='idolized' class='idolBtn w3-margin-left'></button>
            <button id='saveProfile' class='w3-bar-item w3-pink w3-hover-yellow roundBtn w3-right w3-mobile'><b>保存修改</b></button>
        </div>
    </div>
    <div id='pond' class='w3-container w3-black' style='padding:0'>
    </div>
    <div id='owned' class='w3-container w3-black' style='padding:0'>
    </div>
    <div id='chooseMember' class='w3-modal'>
        <div class='w3-modal-content'>
            <span class='exitBtn'><b>x</b></span>
            <div class="w3-bar w3-black">
                <button id='chooseMuse' class="w3-bar-item tab"></button>
                <button id='chooseAqours' class="w3-bar-item tab"></button>
            </div>
            <div class='w3-container w3-black w3-padding-24'>
            </div>
        </div>
    </div>
    <script>
    // utility for string format
    String.prototype.format = function() {
            a = this;
            for (k in arguments) {
                a = a.replace('{' + k + '}', arguments[k]);
            }
            return a;
        }
        // utility for check whether a string is a valid JSON
    function IsJsonString(str) {
        try {
            JSON.parse(str);
        } catch (e) {
            return false;
        }
        return true;
    }

    var img_url = {
        Muse: '//r.llsif.win/assets/image/event/mission/ms_m_type_10.png',
        Aqours: '//r.llsif.win/assets/image/event/mission/ms_m_type_11.png',
        Smile: '//db.loveliv.es/static/img/icon/1.png',
        Pure: '//db.loveliv.es/static/img/icon/2.png',
        Cool: '//db.loveliv.es/static/img/icon/3.png',
        Idolized: '//r.llsif.win/assets/image/ui/common/com_etc_250.png',
    };
    var member_info = {
        Honoka: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_254.png',
            name: '高坂穂乃果',
            group: 'Muse'
        },
        Eli: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_255.png',
            name: '絢瀬絵里',
            group: 'Muse'
        },
        Kotori: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_256.png',
            name: '南ことり',
            group: 'Muse'
        },
        Umi: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_257.png',
            name: '園田海未',
            group: 'Muse'
        },
        Rin: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_258.png',
            name: '星空凛',
            group: 'Muse'
        },
        Maki: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_259.png',
            name: '西木野真姫',
            group: 'Muse'
        },
        Nozomi: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_260.png',
            name: '東條希',
            group: 'Muse'
        },
        Hanayo: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_261.png',
            name: '小泉花陽',
            group: 'Muse'
        },
        Nico: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_262.png',
            name: '矢澤にこ',
            group: 'Muse'
        },
        Chika: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_105.png',
            name: '高海千歌',
            group: 'Aqours'
        },
        Riko: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_106.png',
            name: '桜内梨子',
            group: 'Aqours'
        },
        Kanan: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_107.png',
            name: '松浦果南',
            group: 'Aqours'
        },
        Dia: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_108.png',
            name: '黒澤ダイヤ',
            group: 'Aqours'
        },
        You: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_109.png',
            name: '渡辺曜',
            group: 'Aqours'
        },
        Yoshiko: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_110.png',
            name: '津島善子',
            group: 'Aqours'
        },
        Hanamaru: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_111.png',
            name: '国木田花丸',
            group: 'Aqours'
        },
        Mari: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_112.png',
            name: '小原鞠莉',
            group: 'Aqours'
        },
        Ruby: {
            url: '//r.llsif.win/assets/image/ui/common/com_etc_113.png',
            name: '黒澤ルビィ',
            group: 'Aqours'
        }
    }
    var group_arr = {
        muse: 'μ\'s',
        Aqours: 'Aqours'
    };
    var attribute_arr = ['Smile', 'Pure', 'Cool'];
    var attribute_color = {
        Smile: 'red',
        Pure: 'green',
        Cool: 'blue'
    }
    var attribute_color2 = {
        Smile: '\#f44336',
        Pure: '\#4CAF50',
        Cool: '\#2196F3'
    }

    // Load all live basic information
    var card_info = JSON.parse(card_info_data);
    var rev_dict = {},
        card_bucket = {},
        promo_bucket = {};
    for (var x in member_info) {
        rev_dict[member_info[x]['name']] = x;
        card_bucket[x] = {};
        for (var y in attribute_arr) {
            card_bucket[x][attribute_arr[y]] = [];
        }
        promo_bucket[x] = {};
        for (var y in attribute_arr) {
            promo_bucket[x][attribute_arr[y]] = [];
        }
    }
    for (var card_id in card_info) {
        var ci = card_info[card_id];
        var key = rev_dict[ci['member_name']],
            attr = ci['main_attr'];
        if (ci['promo']) {
            promo_bucket[key][attr].push(card_id);
        } else {
            card_bucket[key][attr].push(card_id);
        }
    }

    var user_json = JSON.parse(localStorage.getItem("user_json"));
    var owned_bucket = {};

    // Info bar
    $('#infoBox .exitBtn').click(function() {
        $('#infoBox').hide();
    });

    function updateInfo(msg, is_error) {
        $("#infoBox").removeClass('w3-pale-green');
        $("#infoBox").removeClass('w3-pale-red');
        if (is_error) {
            $("#infoBox").addClass('w3-pale-red');
        } else {
            $("#infoBox").addClass('w3-pale-green');

        }
        prefix = is_error ? 'ERROR - ' : 'INFO - '
        $("#infoBox span:last").html(prefix + msg);
    }

    // Member choose
    var member_sel = 'Honoka';
    $('#member').html("<img src='{0}' alt='{1}'>".format(member_info[member_sel]['url'], member_sel));
    $('#member').click(function() {
        $('#chooseMember').show();
    });
    $('#chooseMember .exitBtn').click(function() {
        $('#chooseMember').hide();
    });
    $('#chooseMuse').html("<img src='{0}'>".format(img_url['Muse']))
    $('#chooseAqours').html("<img src='{0}'>".format(img_url['Aqours']))
    var temp = '';
    for (var x in member_info) {
        var group = member_info[x]['group'],
            url = member_info[x]['url'];
        temp += '<div id=\'{0}\' class=\'{1} member\'><img src=\'{2}\' ></div>'.format(x, group, url);
    }
    $('#chooseMember .w3-container').html(temp);
    $('#chooseMember .Muse').show();
    $('#chooseMember .Aqours').hide();
    $('#chooseMuse').click(function() {
        $('#chooseMember .Muse').show();
        $('#chooseMember .Aqours').hide();
    })
    $('#chooseAqours').click(function() {
        $('#chooseMember .Muse').hide();
        $('#chooseMember .Aqours').show();
    })
    $('#chooseMember .member').click(function() {
        member_sel = this.id;
        $('#chooseMember').hide();
        $('#member').html("<img src='{0}' alt='{1}'>".format(member_info[member_sel]['url'], member_sel));
        updateInfo('选择角色为 {0}'.format(member_info[member_sel]['name']));
        showCardPond();
    })

    // Attribute switch
    var attr_sel = 'Smile';
    for (var x in attribute_arr) {
        var attr = attribute_arr[x];
        $('#attr' + attr).html("<img src='{0}' alt='{1}'>".format(img_url[attr], group_arr[attr]));
    }
    $('#attrSmile').click(function() {
        switchColor('Smile');
    });
    $('#attrPure').click(function() {
        switchColor('Pure');
    });
    $('#attrCool').click(function() {
        switchColor('Cool');
    });

    function switchColor(attr, no_print) {
        for (var x in attribute_arr) {
            $('#attr' + attribute_arr[x] + ' img').addClass('w3-grayscale-max');
        }
        $('#attr' + attr + ' img').removeClass('w3-grayscale-max');
        attr_sel = attr;
        if (!no_print) {
            updateInfo('选择属性为 {0}'.format(attr_sel), false);
        }
        showCardPond();
    }
    switchColor(attr_sel);

    // Idolized switch
    var idolized_sel = false;
    $('#idolized').html("<img src='{0}' alt='{1}'>".format(img_url['Idolized'], 'Idolized'));
    $('#idolized').click(function() {
        idolized_sel = !idolized_sel;
        $('#idolized img').removeClass('w3-grayscale-max');
        if (idolized_sel) {
            $('#idolized img').addClass('w3-grayscale-max');
        }
        updateInfo('选择觉醒状态为 {0}觉醒'.format(idolized_sel ? '' : '未'), false);
        showCardPond();
    })

    // Display all filtered card
    function icon_path(card_id, idolized) {
        return 'http://gitcdn.xyz/repo/iebb/SIFStatic/master/icon/{0}/{1}.png'.format(idolized ? 'rankup':'normal', card_id);
    }

    function showCardPond() {
        var id_list = []
        for (var x in card_bucket[member_sel][attr_sel]) {
            id_list.push(card_bucket[member_sel][attr_sel][x])
        }
        if (idolized_sel) {
            for (var x in promo_bucket[member_sel][attr_sel]) {
                id_list.push(promo_bucket[member_sel][attr_sel][x])
            }
        }
        id_list.sort()
        var temp = ''
        for (var x in id_list) {
            temp += '<img src=\'{0}\' alt=\'{1}\'>'.format(icon_path(id_list[x], idolized_sel), id_list[x])
        }
        $('#pond').html(temp);
    }

    // Save profile
    $('#saveProfile').click(function() {
        idolized_sel = !idolized_sel;
        $('#idolized').addClass('w3-grayscale-max');
        if (idolized_sel) {
            $('#idolized').removeClass('w3-grayscale-max');
        }
        updateInfo('已保存当前选择到用户卡组JSON', false);
    });
    </script>
</body>

</html>
