<!DOCTYPE html>
<html>
<title>LLSIF-AutoTeamBuilder Tutorial</title>
<meta name='viewport' content='width=device-width, initial-scale=1'> {% load staticfiles %}
<head>
    <style>
    body {
        background-color: pink;
        color: black;
    }

    img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    </style>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-103167041-2', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body>
    <h1>编辑你的卡组信息</h1>
    <h2>使用第三方代理数据站</h2>
    <p>I如果你已经连接了<a href='//stats.llsif.win/'>SIFStats (日服)</a>, <a href='http://pll.sokka.cn/user'>LLproxy (国服)</a>, 那么你可以直接将卡组JSON复制过来，LLproxy的用户可以在社员信息界面直接跳转过来自动载入卡组JSON。</p>
    <div style='display: block;margin: 0 auto' style='width:100%'>
        <img src="{% static 'tutorial_en 2.jpg' %}" style='width:48%;display:inline-block;'>
        <img src="{% static 'tutorial_en 3.jpg' %}" style='width:48%;display:inline-block;'>
    </div>
    <h2>手动编辑卡组信息</h2>
    <p>如果你没有连接第三方代理数据站，你仍然可以手动添加。手动编辑卡组是增量式的，如果你之前已经输入了用户JSON，那么编辑卡组会以你之前的输入为基准。</p>
    <p>当你添加一张新卡时，首先你需要选择是哪个成员，卡牌颜色，以及卡牌是否觉醒来筛选所有符合条件的卡牌</p>
    <img src="{% static 'tutorial 5.jpg' %}" align='middle'>
    <p>选定筛选条件后，下面两栏的内容会对应地改变:
        <ul>
            <li>第一栏包含所有游戏中符合筛选条件的卡牌</li>
            <li>第二栏包含所有你持有的符合筛选条件的卡牌</li>
        </ul>
    </p>
    <img src="{% static 'tutorial 6.jpg' %}" align='middle'>

    <p>通过单击第一栏中的卡牌可以添加一张新卡，默认设定下新卡满级满绊，技能等级为1，技能槽数为最低的值。</p>
    <p>通过单击第二栏中的卡牌可以编辑该卡牌，卡牌数值编辑界面如下，需要注意的是如果你改变了觉醒状态，那么这张卡会在第二栏消失，因为它已经不满足当前的筛选条件（觉醒状态不同）</p>
    <img src="{% static 'tutorial 7.jpg' %}" align='middle'>
    <p>当添加完所有卡牌后，也许你需要接着设置宝石储量</p>
    <img src="{% static 'tutorial 8.jpg' %}" align='middle'>
    <p>现在你已经完成编辑卡组了，在点击组队按钮回到组队界面之前不要忘了保存修改。强烈建议手动编辑的用户将编辑好的用户JSON存到本地，以免将来数据损坏需要重新输入。</p>

    <h2>本地多账户管理</h2> 
    <p>如果你有多个账号又不愿每次输入用户卡组JSON，那么你可以通过本地多账户管理来实现账户切换。当你把鼠标移到“用户JSON”面板内的“用户卡组JSON”文字上时，你会看到文字变成了绿色的“切换本地账户”，点击后可以进入本地用户管理界面</p>
    <img src="{% static 'tutorial_en 11.jpg' %}" align='middle' style='width:40%'>
    <img src="{% static 'tutorial_en 12.jpg' %}" align='middle' style='width:60%'>

    <h1>计算最优组队</h1>
    <img src="{% static 'tutorial 1.jpg' %}" align='middle'>
    <img src="{% static 'tutorial 2.jpg' %}" align='middle'>
    <h2>基本设置</h2>
    <p>计算最优组队需要如下的输入:
        <ul>
            <li>谱面列表: 你想要优化的谱面，组卡支持MF，你可以最多选5首同色同团同难度的谱米</li>
            <li>购买应援: MF和CF中的得分加成和技能加成</li>
            <li>无判P率: 在没有判卡的情况下你点击的平均P率，因为组卡器是以FC为前提计算的，所以无判P率为0.95意味着你的点击95%是PERFECT，5%是GREAT</li>
            <li>宝石无限: 计算最优卡组是不对宝石储量进行限制，可以帮助你看接下来得到哪些宝石对提升卡组有帮助</li>
            <li>附加条件: 你可以通过附加条件来大概估计卡组的潜力
                <ul>
                    <li>维持当前状态: 没什么好说的，所有卡牌严格遵从用户JSON的输入</li>
                    <li>当前状态满级满绊: 所有卡牌维持当前觉醒状态，但是设定为满级满绊</li>
                    <li>贴纸满级满绊: 觉醒所有卡牌，设定为满级满绊，不改变技能槽数</li>
                    <li>觉醒满槽满技能: 究极赛亚人状态，觉醒所有卡牌，并且满级满绊满槽技能8级</li>
                </ul>
            </li>
        </ul>
    </p>
    <h2>组队结果</h2>
    <p>如果你此时点击Calculate没有报错的话，那么恭喜你算出了最佳卡组，希望这个小程序对你的游戏有所帮助。</p>
    <p>下图是一个示例输出，对于一般玩家，你可能感兴趣的数据为:
        <ul>
            <li>判定覆盖率: 在最佳卡组下图标被判定技能覆盖的比例</li>
            <li>期望得分: 最佳卡组在当前谱面下的期望得分</li>
            <li>好友Center技能推荐: 在无活动或者传统收集活动时最优的好友应援</li>
            <li>卡牌图标和装配宝石: 没什么好说的，组卡不就为了这个么？</li>
        </ul>
    </p>
    <img src="{% static 'tutorial 3.jpg' %}" align='middle'>

    <h2>对当前卡组进行模拟</h2>
    <img src="{% static 'tutorial_en 13.jpg' %}" align='middle' style='width:70%'>
    <p>只要你选择的歌曲是由谱面的（非默认、SM曲目），组好队之后你可以在结果的左上角看到“模拟”的按钮，模拟结果包括
        <ul>
            <li>5000次模拟游戏结果的得分分布</li>
            <li>每张卡平均的基本属性得分、判定宝石额外得分、技能得分以及总得分</li>
            <li>每一个note被判定覆盖的概率</li>
        </ul>
    </p>
    <img src="{% static 'tutorial_en 14.jpg' %}" align='middle'>

    <h2>对任意卡组计算强度及仿真</h2>
    <p>由于自动组卡功能只会给出最优的组队，有时用户可能会好奇自定义的队伍强度有多少，目前我也提供了一个配套的英文版组队<a href="../team_strength">强度计算页面</a>，外观与组卡页面基本相同，有能力和兴趣的小伙伴可以参考<a href="../team_strength/tutorial">英文版教程</a>。</p>
</body>

</html>